@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");

.count-screen {
  border: solid 1px black;
  background-color: #211f20;
  color: white;
  border-radius: 3px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 110px;
  font-weight: bolder;
  padding: 10px;
}
