@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");

.submit-button {
  background-color: #de5086;
  display: block;
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 9px;
  max-width: 153px;
  margin: 0 auto;
  border-radius: 23px;
  margin-top: 30px;
  &:hover {
    background-color: #e50f60;
    cursor: pointer;
  }
}
