@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");

.top {
  grid-area: a;
  height: 80px;
  background: linear-gradient(to bottom right, #ed7a87, #de5086);
  box-shadow: 0px 13px #1f22317e;
  font-size: 30px;
  color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 13px #1f22317e;
}
.top > div {
  padding-top: 19px;
  padding-left: 60px;
}
.left {
  grid-area: b;
  background-color: #f9f9f9;
}
.middle {
  grid-area: c;
  background-color: #f9f9f9;
}
.right {
  grid-area: d;
  background-color: #f9f9f9;
  div {
    width: 193px;
  }
}

.bottom {
  display: flex;
  grid-area: e;
  height: 120px;
  background-color: #1e1e1e;
  &__middle {
    flex: 1;
    text-align: center;

    div {
      height: 40px;
      padding-top: 30px;
      svg.octicon {
        transition: 0.5s;
      }
      svg.octicon:hover {
        color: #f88290;
        transition: 0.5s;
      }
    }
  }
  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    "a a a a a"
    "b c c c d"
    "e e e e e";
}

.count-wrapper.tries {
  margin-left: 62px;
  margin-top: 200px;
}
.count-wrapper.pairs {
  margin-left: 62px;
  margin-top: 20px;
}
