@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");

.top {
  height: 80px;
  background: linear-gradient(to bottom right, #ed7a87, #de5086);
  font-size: 30px;
  color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 13px #1f22317e;
}
.top > div {
  margin: 0 60px;
}
.left {
  width: 100%;
  background-color: #f9f9f9;
}
.middle {
  width: 100%;
  background-color: #f9f9f9;
}
.right {
  width: 100%;
  background-color: #f9f9f9;

}

.bottom {
  display: flex;
  height: 120px;
  background-color: #1e1e1e;
  &__middle {
    flex: 1;
    text-align: center;

    div {
      height: 40px;
      padding-top: 30px;
      svg.octicon {
        transition: 0.5s;
      }
      svg.octicon:hover {
        color: #f88290;
        transition: 0.5s;
      }
    }
  }
  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
  }
}

.flex{
  display: flex;
}

.count-wrapper.tries {
  margin-left: 62px;
  margin-top: 200px;
}
.count-wrapper.pairs {
  margin-left: 62px;
  margin-top: 20px;
}

.link-button{
  font-size: 18px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 19px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
  }
}